<p>*A copyright notice informs users that your work is copyrighted, thereby reducing the chances <br>
    of copyright infringement. In the event that infringement does occur, having a copyright <br>
    notice helps solidify your case in court as the infringer should've been aware that your <br>
    content was copyrighted.

    <br>Created by {{name}}

</p>