<html>
<head>
  <link rel="stylesheet" href="./css/style.css">
  <title>{{title}}</title>
</head>
<body style="color:#ff8000"><h1>About Page</h1></body>
<img src="/web-server/public/img/Manash Photo.jpg">

<body>{{>headers}}</body>
{{>footer}}
</html>