<html>
<head>
  <link rel="stylesheet" href="./css/style.css">
  <title>{{title}}</title>
</head>
<body style="color:#ff8000"><h1>About Page</h1></body>
<img src="./img/Manash Photo.jpg">

<body>
  {{>headers}}
<p>
  This website is developed by following 2 API<br>
  a) http://api.weatherstack.com<br>
  b) https://api.mapbox.com<br>

  
</p>
{{>footer}}

</body>
</html>