<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/style.css">


</head>


<form>
  <input placeholder="location">
  <button>Search</button>
</form>

<p id='message-1'></p>
<p id='message-2'></p>



{{>headers}}
{{>footer}}
  <script src="./js/app.js"></script>
</html>